<div class="container">
    <h1>Addresses</h1>
    <a class="btn btn-info btn-lg" routerLink="./add" >New Address</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Country</th>
            <th>State</th>
            <th>City</th>
            <th>Address</th>
            <th>Postal Code</th>
            <th>Modify Date</th>
        </tr>
        </thead>
        <tbody *ngFor="let address of addresses;let i = index">
        <tr (click)="onRowClick(i)">
            <td>{{i + 1}}</td>
            <td> {{address.country}}</td>
            <td>{{address.state}}</td>
            <td>{{address.city}}</td>
            <td>{{address.addressLine}}</td>
            <td>{{address.postalCode}}</td>
            <td>{{address.modifyDate | date : "dd/MM/y"}}</td>
            <td class="close" (click)="onAddressDelete(i);">x</td>
        </tr>
        </tbody>
    </table>
</div>

<!-- pager -->
<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li [class.disabled]="pager.currentPage === 1">
        <a (click)="setPage(1)">First</a>
    </li>
    <li [class.disabled]="pager.currentPage === 1">
        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
    </li>
    <li *ngFor="let page of pager.pages" [class.active]="pager.currentPage === page">
        <a (click)="setPage(page)">{{page}}</a>
    </li>
    <li [class.disabled]="pager.currentPage === pager.totalPages">
        <a (click)="setPage(pager.currentPage + 1)">Next</a>
    </li>
    <li [class.disabled]="pager.currentPage === pager.totalPages">
        <a (click)="setPage(pager.totalPages)">Last</a>
    </li>
</ul>

<router-outlet></router-outlet>


