
<div class="container">
    <h1>Phones</h1>
    <button type="button" class="btn btn-info btn-lg" (click)="onNewPhone()">New Phone</button>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Company</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody *ngFor="let phone of phones;let i = index">
            <tr (click)="onRowClick(i)">
                <td>{{i}}</td>
                <td>{{phone.Company}}</td>
                <td>{{phone.Name}}</td>
                <td>{{phone.Price}}</td>
                <td class="close" (click)="onPhoneDelete(i);">x</td>
            </tr>
        </tbody>
    </table>
</div>


