
<div class="container">
    <h1>Phones</h1>
    <a class="btn btn-info btn-lg" routerLink="../phone/add" >New Phone</a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Company</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody *ngFor="let phone of phones;let i = index">
        <tr (click)="onRowClick(i)">
            <td>{{i}}</td>
            <td> {{phone.Company}}</td>
            <td>{{phone.Name}}</td>
            <td>{{phone.Price}}</td>
            <td class="close" (click)="onPhoneDelete(i);">x</td>
        </tr>
        </tbody>
    </table>
</div>
<router-outlet></router-outlet>



