<div class="container">
    <h1>Addresses</h1>
    <a class="btn btn-info btn-lg" routerLink="/add" >New Address</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Country</th>
            <th>City</th>
            <th>State</th>
        </tr>
        </thead>
        <tbody *ngFor="let address of addresses;let i = index">
        <tr (click)="onRowClick(i)">
            <td>{{i}}</td>
            <td> {{address.Country}}</td>
            <td>{{address.City}}</td>
            <td>{{address.Price}}</td>
            <td class="close" (click)="onAddressDelete(i);">x</td>
        </tr>
        </tbody>
    </table>
</div>



